<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CJAdmin SysResource </title>
    <th:block th:replace="~{fragment/fragment :: cjLearning_head}"/>
    <style type="text/css">
        /*<ul id="cjSysResourceTree" class="ztree"></ul>*/
        /*ztree正题背景*/
        #cjSysResourceTree.ztree{
            background-color: #343A40;
        }
        /*ztree每行的图标距离右侧文字5px*/
        #cjSysResourceTree.ztree li i {
            margin-right: 5px;
        }
        /*ztree每行的图标上下间隔5px*/
        #cjSysResourceTree.ztree li  {
            margin-top: 5px;
        }
        /*ztree每行文字的样式*/
        #cjSysResourceTree.ztree li  a.cjzTreeNodeCss {
            color: white ;
            text-decoration-line: none;
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
            font-size: medium;
            font-weight: bold;
            /*font-style:italic;*/
        }
        /*ztree每行文字的样式*/
        #cjSysResourceTree.ztree li  a.cjzTreeNodeCss  span.cjTreeNodeURL{
            margin-left: 10px;
            color: #17A2B8;
            text-decoration-line: none;
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
            font-size: small;
            font-weight: normal;
            /*font-style:italic;*/
        }
        /*ztree选中的时候，每行文字的样式*/
        #cjSysResourceTree.ztree li a.curSelectedNode{
            background-color: #343A40;
            border: 0;
            font-weight: bold;
            font-style:italic;
            color: #17A2B8;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="modal fade" id="cjResourceShowModal">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Show Resource</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" id="cjResourceShowForm">

                    <input class="form-control" id="cjResourceShowForm_ParentId" name="parentId"
                           type="hidden">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_name">名称：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-globe-americas"></i>
                                </span>
                                </div>
                                <input disabled class="form-control form-control-sm" id="cjResourceShowForm_name"
                                       name="name" value="123"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                              >类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceShowForm_cjResourceType01" value="directory">
                                <label class="form-check-label" for="cjResourceShowForm_cjResourceType01">目录</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjResourceType" id="cjResourceShowForm_cjResourceType02" value="menu">
                                <label class="form-check-label" for="cjResourceShowForm_cjResourceType02">菜单</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceShowForm_cjResourceType03" value="button" >
                                <label class="form-check-label" for="cjResourceShowForm_cjResourceType03">按钮</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceShowForm_resDesc">描述：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marked-alt"></i>
                                </span>
                                </div>
                                <input disabled class="form-control form-control-sm" id="cjResourceShowForm_resDesc"
                                       name="resDesc"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceShowForm_url">URL：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marker-alt"></i>
                                </span>
                                </div>
                                <input disabled class="form-control form-control-sm" id="cjResourceShowForm_url"
                                       name="url"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"> URL类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceShowForm_cjUrlType01" value="get">
                                <label class="form-check-label" for="cjResourceShowForm_cjUrlType01">GET</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjUrlType" id="cjResourceShowForm_cjUrlType02" value="post">
                                <label class="form-check-label" for="cjResourceShowForm_cjUrlType02">POST</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceShowForm_cjUrlType03" value="put" >
                                <label class="form-check-label" for="cjResourceShowForm_cjUrlType03">PUT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceShowForm_cjUrlType04" value="delete" >
                                <label class="form-check-label" for="cjResourceShowForm_cjUrlType04">DELETE</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_fontIcon">对应的图标：</label>

                        <div class="col-sm-9">
                            <div class="btn-group">
                                <button id="cjResourceShowForm_showIcon" type="button"
                                        class="btn btn-info border-white iconpicker-component"><i
                                        class="fas fa-anchor"></i></button>
                                <button disabled type="button" id="cjResourceShowForm_fontIcon" name="fontIcon"
                                        class="icp icp-dd btn btn-info  border-white dropdown-toggle"
                                        data-selected="fa-car" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    fas fa-anchor
                                </button>
                                <div class="dropdown-menu"></div>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-light" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="cjResourceAddModal">
    <div class="modal-dialog">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">Add Resource</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" id="cjResourceAddForm">

                    <input class="form-control" id="cjResourceAddForm_ParentId" name="parentId"
                           type="hidden">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_name">名称：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-globe-americas"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceAddForm_name" name="name"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                        >类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceAddForm_cjResourceType01" value="directory">
                                <label class="form-check-label" for="cjResourceAddForm_cjResourceType01">目录</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjResourceType" id="cjResourceAddForm_cjResourceType02" value="menu">
                                <label class="form-check-label" for="cjResourceAddForm_cjResourceType02">菜单</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceAddForm_cjResourceType03" value="button" >
                                <label class="form-check-label" for="cjResourceAddForm_cjResourceType03">按钮</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_resDesc">描述：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marked-alt"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceAddForm_resDesc"
                                       name="resDesc"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_url">URL：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marker-alt"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceAddForm_url" name="url"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"> URL类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceAddForm_cjUrlType01" value="get">
                                <label class="form-check-label" for="cjResourceAddForm_cjUrlType01">GET</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjUrlType" id="cjResourceAddForm_cjUrlType02" value="post">
                                <label class="form-check-label" for="cjResourceAddForm_cjUrlType02">POST</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceAddForm_cjUrlType03" value="put" >
                                <label class="form-check-label" for="cjResourceAddForm_cjUrlType03">PUT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceAddForm_cjUrlType04" value="delete" >
                                <label class="form-check-label" for="cjResourceAddForm_cjUrlType04">DELETE</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceAddForm_fontIcon">对应的图标：</label>

                        <div class="col-sm-9">
                            <div class="btn-group">
                                <button id="cjResourceAddForm_showIcon" type="button"
                                        class="btn btn-success border-white iconpicker-component"><i
                                        class="fas fa-anchor"></i></button>
                                <button type="button" id="cjResourceAddForm_fontIcon"
                                        class="icp icp-dd btn btn-success  border-white dropdown-toggle"
                                        data-selected="fa-car" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    fas fa-anchor
                                </button>
                                <div class="dropdown-menu"></div>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-light" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-outline-light" id="cjResourceModalAdd_subbtn" type="button">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="cjResourceUpdateModal">
    <div class="modal-dialog">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Update Resource</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" id="cjResourceUpdateForm">

                    <input class="form-control" id="cjResourceUpdateForm_ParentId" name="parentId"
                           type="hidden">
                    <input class="form-control" id="cjResourceUpdateForm_id" name="id"
                           type="hidden">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceUpdateForm_name">名称：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-globe-americas"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceUpdateForm_name" name="name"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                        >类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceUpdateForm_cjResourceType01" value="directory">
                                <label class="form-check-label" for="cjResourceUpdateForm_cjResourceType01">目录</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjResourceType" id="cjResourceUpdateForm_cjResourceType02" value="menu">
                                <label class="form-check-label" for="cjResourceUpdateForm_cjResourceType02">菜单</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjResourceType" id="cjResourceUpdateForm_cjResourceType03" value="button" >
                                <label class="form-check-label" for="cjResourceUpdateForm_cjResourceType03">按钮</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceUpdateForm_resDesc">描述：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marked-alt"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceUpdateForm_resDesc"
                                       name="resDesc"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceUpdateForm_url">URL：</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                 <i class="fas fa-map-marker-alt"></i>
                                </span>
                                </div>
                                <input class="form-control form-control-sm" id="cjResourceUpdateForm_url" name="url"
                                       placeholder="" required type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm"> URL类型：</label>
                        <div class="col-sm-9">
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceUpdateForm_cjUrlType01" value="get">
                                <label class="form-check-label" for="cjResourceUpdateForm_cjUrlType01">GET</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input   class="form-check-input"  type="radio" name="cjUrlType" id="cjResourceUpdateForm_cjUrlType02" value="post">
                                <label class="form-check-label" for="cjResourceUpdateForm_cjUrlType02">POST</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceUpdateForm_cjUrlType03" value="put" >
                                <label class="form-check-label" for="cjResourceUpdateForm_cjUrlType03">PUT</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input  class="form-check-input" type="radio" name="cjUrlType" id="cjResourceUpdateForm_cjUrlType04" value="delete" >
                                <label class="form-check-label" for="cjResourceUpdateForm_cjUrlType04">DELETE</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-sm-3 col-form-label text-sm"
                               for="cjResourceUpdateForm_fontIcon">对应的图标：</label>

                        <div class="col-sm-9">
                            <div class="btn-group">
                                <button id="cjResourceUpdateForm_showIcon" type="button"
                                        class="btn btn-warning border-white iconpicker-component"><i
                                        class="fas fa-anchor"></i></button>
                                <button type="button" id="cjResourceUpdateForm_fontIcon"
                                        class="icp icp-dd btn btn-warning  border-white dropdown-toggle"
                                        data-selected="fa-car" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                    fas fa-anchor
                                </button>
                                <div class="dropdown-menu"></div>
                            </div>
                        </div>

                    </div>


                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-outline-light" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-outline-light" id="cjResourceModalUpdate_subbtn" type="button">Save changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="wrapper">
    <!-- Navbar -->
    <nav th:replace="~{fragment/fragment :: cjMainNavBar}"  ></nav>
    <!-- /.navbar -->


    <!-- Main Sidebar Container -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:replace="~{fragment/fragment :: cjLeftSideBar}">

    </aside>


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--            <div class="card card-body">-->

            <!--            </div>-->
        </section>

        <!-- Main content -->
        <section class="content">


            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div class="btn-group-sm" id="toolbar" role="group">
                                    <!--data-target="#cjUserAddModal"-->
                                    <button class="btn btn-success" onclick="cjAddResource()"
                                            type="button">
                                        <i class="fa fa-plus"></i> 新增
                                    </button>
                                    <button class="btn btn-warning text-white " onclick="cjUpdateResource()">
                                        <i class="fa fa-edit"></i> 修改
                                    </button>
                                    <button class="btn btn-danger multiple" onclick="cjDeleteResource()">
                                        <i class="fa far fa-trash-alt"></i> 删除
                                    </button>
                                </div>




                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <ul id="cjSysResourceTree" class="ztree" ></ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>


    <!-- Main Footer -->
    <footer th:replace="~{fragment/fragment :: cjMainFooter}"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<th:block th:replace="~{fragment/fragment :: cjLearning_js}"/>
</body>
<script type="application/javascript">

    /*
    * 0. 全局性的js参数初始化设置
    * */
    var cjzTreeObj;
    //选中的tree node
    var cjSelectedTreeNode;

    var cjTreeRootNodeId = 1;
    //tree 的根节点
    var cjTreeRootNode = {
        id: cjTreeRootNodeId,
        pId: null,
        isParent: true,
        name: "rootResource"
    };
/*
* S1 START: zTree所有相关操作---------------------------------------------------------------------------------------
* */
    /*
    * S1-1 START: 初始化zTree相关的设置----------------------------------------------------------------------------------------
    * */
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        callback: {//回调函数设置
            onClick: cjzTreeOnClick,
            onDblClick: cjzTreeOnDbClick,
            beforeDrop: cjzTreeBeforeDrop,//禁止将节点拖拽成为根节点,用于捕获节点拖拽操作结束之前的事件回调函数，并且根据返回值确定是否允许此拖拽操作
            onDrop: cjzTreeOnDrop//拖拽成功后，重新加载ztree
        },
        check: {
            //显示为radio
            // enable: true,
            // chkStyle: "radio"
        },
        data: {
            key: {
                name: "name",//节点显示名称
                title: "title",//鼠标悬浮在节点时，提示内容
                //zTree 节点数据保存节点链接的目标 URL 的属性名称。默认值为node的属性："url"
                //设置为空，则点击时无反应
                url: "",
                isParent: "isParent"//节点是否为父节点
            },
            simpleData: {
                enable: true,//采用simpleData
                idKey: "id",
                pIdKey: "pid",
                rootPId: cjTreeRootNodeId//设置rootPid
            }
        },
        edit: {
            enable: true,
            showRemoveBtn: false,//不显示删除按钮
            showRenameBtn: false,//不显示重命名按钮
            drag: {
                prev: true,
                next: true,
                inner: true
            }

        },
        view: {
            // dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
            addDiyDom: cjAddDiyDom,
            selectedMulti: false,//设置是否允许同时选中多个节点。
            showIcon: false,
            nameIsHTML: true,
            nodeClasses : {add: ['cjzTreeNodeCss']}
        }
    };
    function cjAddDiyDom(treeId, treeNode) {
        let aObj = $("#" + treeNode.tId + "_a");
        // console.log("cjAddDiyDom: ",treeNode.title);
        let cjTreeNodeResource = JSON.parse(treeNode.title);
        let editStr = "<span class='cjTreeNodeURL'>"+cjTreeNodeResource.url+"  : "+cjTreeNodeResource.cjUrlType+"</span>";
        aObj.append(editStr);

    }

    function cjzTreeBeforeDrop(treeId, treeNodes, targetNode, moveType) {
        console.log("cjzTreeBeforeDrop...");
        var cjzTreeBeforeDropFalg = true;
        if (targetNode == null || (moveType != "inner" && !targetNode.parentTId)) {
            cjzTreeBeforeDropFalg = false;
            return cjzTreeBeforeDropFalg;
        }
        //移动节点的id
        var cjzTreeBeforeDropNodeId = treeNodes[0].id;
        //移动类型
        var cjzTreeBeforeDropMoveType = moveType;
        //目标节点的id
        var cjzTreeBeforeDropTargetId = targetNode.id;
        console.log("移动" + treeNodes[0].name + "," + moveType + "-->" + targetNode.name);
        var cjzTreeNodeMove = {
            "treeNodeId": treeNodes[0].id,
            "moveType": moveType,
            "targetId": targetNode.id,
        }
        $.ajax({
            url: "/article/category/move",
            async: "false",//同步处理，避免错误
            method: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(cjzTreeNodeMove),
            success: function (result) {
                console.log("move ztreeNode success");
            },
            error: function () {
                bootbox.alert("move ztreeNode 失败,请联系管理员");
                cjzTreeBeforeDropFalg = false;
            }
        });
        return cjzTreeBeforeDropFalg;
    }

    function cjzTreeOnDrop(event, treeId, treeNodes, targetNode, moveType) {

    }

    function cjzTreeOnDbClick(event, treeId, treeNode) {//单机分类，右侧展示分类下的文章
        cjShowResource(treeNode.id);
    }

    /*zTree单击事件
    *   获取选中的节点
    * */
    function cjzTreeOnClick(event, treeId, treeNode) {
        cjSelectedTreeNode = treeNode;
    }

    function initzTree() {
        $.ajax({
            url: "/admin/system/resource/all",
            method: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                //zNodes = eval(data.menuAll);
                zNodes = result.data;
                //初始化
                cjzTreeObj = $.fn.zTree.init($("#cjSysResourceTree"), setting, zNodes);

                // var cjAllnodes = cjzTreeObj.getNodes();

                // for (var i = 0; i < cjAllnodes.length; i++) { //展开到第二层节点
                //     cjzTreeObj.expandNode(cjAllnodes[i], true, false, true);
                // }
                cjzTreeObj.expandAll(true);

                // setTimeout("cjzTreeObj.expandAll(true)",200);
            },
            error: function () {
                bootbox.alert("/article/category/getList 获取 categories 失败，无法初始化ztree,请联系理管理员");
            }
        });
    }

    $(document).ready(function () {
        initzTree();
    });
    /*
    * S1-1 END. 初始化zTree相关的设置---------------------------------------------------------------------------------------END
    * */

    /*
    *S1-2 START. tree的所有操作---------------------------------------------------------------------------------------------
    * */

        /*
        * S1-2-1 START. tree的相关工具类----------------------------------------------------------------------------------------
        * */

    /*
    * 初始化fontawesome-picker
    * */
    function cjFontAwesomeInit() {
        // 点击下拉按钮显示图标
        $('.btn-group>button').on("click", function () {
            $('.icp-dd').iconpicker({
                //title: 'Dropdown with picker',
                //component:'.btn > i'
            }).on('iconpickerSelected', function (event) {//选中所需icon时。。。
                /* event.iconpickerValue */
                //console.log("iconpickerSelected...", event.iconpickerValue)
                let cjFbutton = $(this);
                cjFbutton.text(event.iconpickerValue);
            }).on('iconpickerDestroyed', function (event) {
                let cjFbutton = $(this);
                cjFbutton.text("");
                $("button#cjResourceAddForm_showIcon i").replaceWith('<i class="fas fa-anchor"></i>');
            });
        });
    }

    /*
    * 清空resource show/add/update 模态框内所有内容
    * */
    function cjResourceModalReset(modalId) {
        $(modalId + " form").cjFormReset();//清空表单
        $.iconpicker.batch('.icp.iconpicker-element', 'destroy');
    }

        /*
        * S1-2-1 End. tree的相关工具类---------------------------------------------------------------------------------------
        * */


        /*
       * S1-2-2 START. tree的CRUD----------------------------------------------------------------------------------------------
       * */

                /*
              * S 1-2-2-1 START. resource--show/get/select-----------------------------------------------------------------------------------------
              * 1.获取当前节点id
              * 2.从后台获取这个resource的数据
              * 3.成功获取后，打开模态框时，初始化 fontawesome-iconpicker
              * */
    function cjShowResource(resourceId) {
        $.ajax({//更新
            url: "/admin/system/resource/" + resourceId,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                let cjShowResource = data.data;

                $("#cjResourceShowModal").on('show.bs.modal', function (e) {
                    cjFontAwesomeInit();
                    $("#cjResourceShowForm").cjSetFormByJsonObject(cjShowResource);
                    $("button#cjResourceShowForm_showIcon i").replaceWith('<i class="' + cjShowResource.fontIcon + '"></i>');
                    $("button#cjResourceShowForm_fontIcon").text(cjShowResource.fontIcon);
                }).on('hidden.bs.modal', function (e) {
                    cjResourceModalReset("#cjResourceShowModal")
                }).modal('show');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert("cj Show--Get Resource获取失败,请联系管理员!");
            }
        });
    }

            /*
            * S1-2-2-1 END. resource--show/get/select-----------------------------------------------------------------------------------------
            * */

            /*
            * S1-2-2-2 START. resource--CREATE-----------------------------------------------------------------------------------------
            * 1.获取父节点
            * 2.打开模态框
            *   打开模态框时，初始化 fontawesome-iconpicker
            * */

    function cjAddResource() {
        //1.获取父节点
        let nodes = cjzTreeObj.getSelectedNodes();
        if (nodes.length < 1) {
            //alert("请选择文章分类");
            //return;
            cjSelectedTreeNode = cjTreeRootNode;
        } else {
            cjSelectedTreeNode = nodes[0];
        }

        //设置模态框中的parentId
        $("#cjResourceAddForm_ParentId").val(cjSelectedTreeNode.id);

        $("#cjResourceAddModal")
            .on('show.bs.modal', function (e) {
                cjFontAwesomeInit();
            })
            .on('hidden.bs.modal', function (e) {
                cjResourceModalReset("#cjResourceAddModal");

            }).modal('show');
    }

    /*
      * 添加资源--提交
      * */
    $("#cjResourceModalAdd_subbtn").on("click", function () {

        var cjResourceAddForm = $("#cjResourceAddForm").cjFormSerializeObject();
        cjResourceAddForm["fontIcon"] = $("#cjResourceAddForm .icp-dd").text();
        // console.log(cjResourceAddForm);
        $.ajax({
            url: "/admin/system/resource",
            method: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(cjResourceAddForm),
            success: function (data) {
                if (data.code=="500") {//只针对校验失败
                    //let cjErrorMsg = data.msg;
                    let cjErrorData = data.data;
                    let cjErrorDetail = $.cjValidateErrorToString(cjErrorData);
                    bootbox.alert("cj add resource " + " 失败 : " + cjErrorDetail + ",请联系管理员!");
                } else {
                    bootbox.alert("cj resource 添加成功!");
                    $("#cjResourceAddModal").modal('hide');

                    //更新zTree
                    cjzTreeObj.destroy();
                    initzTree();

                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert("cj create User 失败,请联系管理员!");
            }

        });
    });
            /*
            * S1-2-2-2 END. resource--CREATE-----------------------------------------------------------------------------------------
            * */

            /*
            * S1-2-2-3 START. resource--UPDATE-----------------------------------------------------------------------------------------
            * 1.获取选中的节点
            * 2.打开模态框
            *   打开模态框时，初始化 fontawesome-iconpicker
            * */

    function cjUpdateResource() {
        //1.获取选中的节点
        let nodes = cjzTreeObj.getSelectedNodes();
        if (nodes.length < 1) {
            bootbox.alert("请先选择资源！！！！");
            return;
        }
        cjSelectedTreeNode = nodes[0];
        $.ajax({//更新
            url: "/admin/system/resource/" + cjSelectedTreeNode.id,
            method: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                let cjUpdateResource = data.data;

                $("#cjResourceUpdateModal").on('show.bs.modal', function (e) {
                    cjFontAwesomeInit();
                    $("#cjResourceUpdateForm").cjSetFormByJsonObject(cjUpdateResource);
                    $("button#cjResourceUpdateForm_showIcon i").replaceWith('<i class="' + cjUpdateResource.fontIcon + '"></i>');
                    $("button#cjResourceUpdateForm_fontIcon").text(cjUpdateResource.fontIcon);
                }).on('hidden.bs.modal', function (e) {
                    cjResourceModalReset("#cjResourceUpdateModal");

                }).modal('show');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert("cj Show--Get Resource获取失败,请联系管理员!");
            }
        });
    }

    /*
      * update resource--submit
      * */
    $("#cjResourceModalUpdate_subbtn").on("click", function () {

        var cjResourceUpdateForm = $("#cjResourceUpdateForm").cjFormSerializeObject();
        cjResourceUpdateForm["fontIcon"] = $("#cjResourceUpdateForm .icp-dd").text();
        $.ajax({
            url: "/admin/system/resource/" + cjResourceUpdateForm["id"],
            method: "put",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(cjResourceUpdateForm),
            success: function (data) {
                if (data.code=="500") {//只针对校验失败
                    //let cjErrorMsg = data.msg;
                    let cjErrorData = data.data;
                    let cjErrorDetail = $.cjValidateErrorToString(cjErrorData);
                    bootbox.alert("cj add resource " + " 失败 : " + cjErrorDetail + ",请联系管理员!");
                } else {
                    bootbox.alert("cj resource 修改成功!");
                    $("#cjResourceUpdateModal").modal('hide');

                    //刷新ztree
                    cjzTreeObj.destroy();
                    initzTree();
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert("cj update User 失败,请联系管理员!");
            }

        });
    });
            /*
            * S1-2-2-3 END. resource--UPDATE-----------------------------------------------------------------------------------------
            * */

            /*
            * S1-2-2-4 START. resource--DELETE-----------------------------------------------------------------------------------------
            * */
    function cjDeleteResource() {
        //1.获取父节点
        let cjSelectDeleteNodes = cjzTreeObj.getSelectedNodes();
        if (cjSelectDeleteNodes.length < 1) {
            bootbox.alert("请先选择resource");
            return;
        }
        cjSelectedTreeNode = cjSelectDeleteNodes[0];

        let cjDeleteNodes = cjzTreeObj.transformToArray(cjSelectedTreeNode);
        let cjDeleteNodesName = [];
        for (i = 0; i < cjDeleteNodes.length; i++) {
            cjDeleteNodesName[i] = cjDeleteNodes[i].name;
        }
        bootbox.confirm("确定删除？" + cjDeleteNodesName.join(";"),
            function (result) {
                //console.log('This was logged in the callback: ' + result);
                if (result) {
                    $.ajax({//更新
                        url: "/admin/system/resource/" + cjSelectedTreeNode.id,
                        method: "delete",
                        dataType: "json",
                        contentType: "application/json",
                        success: function () {
                            bootbox.alert("cj delete resource 成功！");
                            cjzTreeObj.destroy();
                            initzTree();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            bootbox.alert("cj delet resource 失败,请联系管理员!");
                        }
                    });
                }
            });
    }

            /*
            * S1-2-2-4 END.  resource--delete-----------------------------------------------------------------------------------------
            * */

        /*
       * S1-2-2 END. tree的CRUD----------------------------------------------------------------------------------------
       * */

    /*
    *S1-2 END. tree的所有操作--END-------------------------------------------------------------------------------------------
    * */

/*
* S1 END. zTree所有相关操作---------------------------------------------------------------------------------------
* */
</script>


</body>

</html>
